@import "uikit.min";
@import "mediaplayer.min";
@import url('https://fonts.googleapis.com/css?family=Bentham');

// Container

.uk-container{
  max-width: 100%;
}

.uk-grid {
  margin-left: 0px;
}


// Headline
h1{
  text-transform: uppercase;
  color: #fff; ;
  text-align:center; 
  margin-top: 150px;
  // https://codepen.io/bshackelford/pen/esIEK?q=reflection&order=popularity&depth=everything&show_forks=false 
  -webkit-box-reflect: below -86px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(#eee, 0.2)));
  transition: fade 2s;
}

// Body

body{
  background: linear-gradient(#000, #000, #0E2B3D, #fff);
  background-size: cover;
}

// Body Font
// Score: 0, 0, 0, 2
body, h1,
article, a, footer{
  font-family: 'Bentham', serif;
}

p{
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}

.firstp{
    text-align: justify;
}

.secondp{
    text-align: justify;
    margin-top: 4%;
}

li{
  list-style-type:none;
}

a, a:hover{
  color:#000;
  text-decoration: none;
  font-size: 14px;
}


.footer, ul, article{
  text-align: center;
}


// Video 

.mejs__controls{
  margin:5px;
  left: -5px;
}

.mejs__time-total{
  margin: -5px 0px;
  height: 25px;
  background: #0E2B3D;
}

.mejs__time-loaded{
  height:25px;
  background: #3B5C78;
}

.mejs__time-current{
  height:25px;
  background: #5B8DB7;
}

.mejs__duration, .mejs__currenttime{
  font-family: 'Bentham', serif;
  font-size: 17px;
  color: gray;
  line-height: 0px;
}


@media (min-width: 1200px) {
  .uk-grid {
    margin-left: 0px;
  }  
  
}

// Mobile

@media (max-width: 550px) {
  
  .mejs__controls{
    height: 11%; 
  }
  
  .mejs__time-total{
  margin: -5px 0px;
  height: 25px;
}

.mejs__time-loaded{
  height:25px;
}

.mejs__time-current{
  height:25px;
}
  
}

@media (max-width: 430px) {
  
  .mejs__controls{
    height: 14%; 
  }
  
  .mejs__time-total{
  margin: -5px 0px;
  height: 25px;
}

.mejs__time-loaded{
  height:25px;
}

.mejs__time-current{
  height:25px;
}
  
}

// Inline, Pounds, Dots, Elements
// Score: 0, 0, 0, 1

//   -webkit-box-reflect: below -56px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(#eee, 0.7)));

