@import "uikit.min";
@import "mediaplayer.min";
@import url('https://fonts.googleapis.com/css?family=Bentham');

// Headline
h1{
  text-transform: uppercase;
}

// Body Font
// Score: 0, 0, 0, 2
body h1,
article p{
  font-family: 'Bentham', serif;
}

p{
  text-align:right;
  font-size: 16px;
  line-height: 1.6;
}

// Video 
.mejs__controls{
  margin:5px;
  left: -5px;
}

.mejs__time-total{
  margin: -5px 0px;
  height: 25px;
  background: #0E2B3D;
}

.mejs__time-loaded{
  height:25px;
  background: #3B5C78;
}

.mejs__time-current{
  height:25px;
  background: #5B8DB7;
}

.mejs__duration, .mejs__currenttime{
  font-family: 'Bentham', serif;
  font-size: 17px;
  color: gray;
  line-height: 0px;
}


// Links
li{
  list-style-type:none;
}


// Inline, Pounds, Dots, Elements
// Score: 0, 0, 0, 1

