@import "uikit.min";
@import "mediaplayer.min";
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

// Headline
h1{
  text-transform: uppercase;
}

.char1 {
  color: orange;
}

.char7 {
  color: green;
}

// Body Font
// Score: 0, 0, 0, 2
body h1,
article p{
  font-family: 'Lobster Two', cursive;
}

// Inline, Pounds, Dots, Elements
// Score: 0, 0, 0, 1
header{
  background:red;
}

// Score: 0, 0, 1, 0
.uk-width-1-1{
  background: green;
}